<p>clients works!</p>
<a [routerLink]="'/product'">Product</a>
<table>
    <thead>
        <tr>
            <td>Client ID</td>
            <td>Client First Name</td>
            <td>Client Last Name</td>
            <td>Actions </td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let client of clinetlist">
            <td>{{client.id}}</td>
            <td>{{client.firstname}}</td>
            <td>{{client.lastname}}</td>
            <td><a [routerLink]="['/edit',client.id]">Edit</a> | <a [routerLink]="['/delete',client.id]">Delete</a></td>
        </tr>
    </tbody>>
</table>
