<h1>{{title}}</h1>

<h1>If Loop </h1>
<!-- Start if conditions -->
<div class="bg-success" *ngIf="show_message">
    User added succesfully
</div>

<div class="bg-success" *ngIf="show_flag && show_message">
    User added succesfully
</div>
<!-- END if conditions -->



<!-- Starts IF ELSE condtion -->
<div class="bg-success" *ngIf="show_message;else error_msg">
    User added succesfully
</div>

<ng-template #error_msg> User not added</ng-template>

<!-- ENDs IF ELSE condtion -->



<!-- Starts IF then ELSE condtion -->
<div class="bg-success" *ngIf="show_message;then updated_message else error_msg">
    User added succesfully
</div>

<ng-template #updated_message> User Updated  </ng-template>
<ng-template #error_msg> User not added</ng-template>

<!-- ENDs IF ELSE condtion -->

<H1>For Loop</H1>

<!-- ************for loop -->
<ul>
    <li *ngFor="let contact of contacts; index as i; first as f;last as l">
        <div *ngIf="f" style="background-color: salmon;">This is first record</div>
       <div>{{i}} {{contact.firstname}}  {{contact.lastname}}</div>
       <div *ngIf="l" style="background-color: yellowgreen;">This is last record</div>
    </li>
</ul>

<ul>
    <li *ngFor="let contact of contacts; index as i; even as eve;odd as od">
        <div *ngIf="eve" style="background-color: salmon;">{{i}} {{contact.firstname}}  {{contact.lastname}}</div>
       <div *ngIf="od" style="background-color: yellowgreen;">{{i}} {{contact.firstname}}  {{contact.lastname}}</div>
    </li>
</ul>


<!-- ******************* Swtch Case -->
<h1>Switch Case</h1>
<div [ngSwitch]="superPower">
    <div *ngSwitchCase="'WonderWoman'">This is Wonder Woman</div>
    <div *ngSwitchCase="'Superman'">This is Super MAN</div>
    <div *ngSwitchCase="'Spiderman'">This is Spiderman</div>
    <div *ngSwitchDefault >Learning</div>

</div>

<div [ngSwitch]="tax">
    <div *ngSwitchCase="20">This is 10</div>
    <div *ngSwitchCase="10">This is 20</div>

</div>


<h1>NgSTyle</h1>
<div [ngStyle]="{'background-color':'green','color':'white' }">Green</div>


<h1>Dynamice styling</h1>{{mycolor}}
<div [ngStyle]="{'background-color':mycolor}">Green</div>

<h1>COnditional ngSTyle</h1>
<div [ngStyle]="{ 'color': txtcolor == 'blue'? 'blue' : 'green' }">Condition DIV</div>


<h1>NgClass</h1>
<div [ngClass]="'c1'">This is ngClass Example</div>

<h1>NgClass</h1>
<div [ngClass]="'c1 c2'">This is multiple class</div>

<h1>NgClass Object</h1>
<div [ngClass]="{'c1': true, 'c2': false}">This is Object class</div>

<router-outlet></router-outlet>
